.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .card {
    flex: 0 1 calc(25% - 1em);
}

div.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 200px;
}

p.tableno {
    font-weight: bold;
}

.button {
    background-color: #EE2824;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }